# Fitxers CSV
*.csv

# Fitxers Excel
*.xls
*.xlsx
*.xlsm
*.xlsb
*.ods

# Fitxers de text
*.txt

# Fitxers temporals d'Office
~$*

# Fitxers de còpia de seguretat
*.bak
*.tmp

# Altres fitxers de dades
*.dat

*.png

*.sav